@using SmsByPost.Models
@{
    ViewBag.Title = "Home Page";
}

<div >
    <div class="panel panel-primary">

        <div class="panel-heading">Send a Message</div>
        <div class="panel-body">
            @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post))
            {
                <input type="hidden" name="godGuid" value="@Guid.NewGuid()">

                <div class="form-group"><label class="col-sm-3 control-label">Address</label><div class="col-sm-9"><input class="form-control" name="address"></div></div>
                <div class="form-group"><label class="col-sm-3 control-label">From</label><div class="col-sm-9"><input class="form-control" name="originator"></div></div>
                <div class="form-group"><label class="col-sm-3 control-label">Message</label><div class="col-sm-9"><textarea class="form-control" id="messagebody" name="message"></textarea></div></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Class</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="deliveryType" value="FirstClass" checked>First Class</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Protection</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.Envelope" checked>Envelope</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.PaddedEnvelope">Padded Envelope</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="packagingType" value="@Packaging.Parcel">Parcel</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Wrapping</label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label><input type="checkbox" name="wrappingRequired" value="true">Add Wrapping Paper</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Wrapping Paper Pattern</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="@WrappingPaperPatterns.Sun" checked>&#9728;&#9728;&#9728;</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="@WrappingPaperPatterns.YingYang">☯☯☯</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="paperDesign" value="@WrappingPaperPatterns.Snow">❄❄❄</label>
                        </div>
                    </div>
                </div>

                <input class="btn btn-default" name="commit" type="submit" value="Send Message">
            }
        </div>

        <div class="panel-heading">Send a Message</div>
        <div class="panel-body">
            <div class="form-group"><label class="col-sm-3 control-label">Message Parts</label><div class="col-sm-9"><span class="form-control" id="parts"></span></div></div>
            <div class="form-group"><label class="col-sm-3 control-label">Character Set</label><div class="col-sm-9"><span class="form-control" id="charaterset"></span></div></div>
            <div class="form-group"><label class="col-sm-3 control-label">Available Characters until next </label><div class="col-sm-9"><span class="form-control" id="available"></span></div></div>
        </div>
    </div>
</div>


@section scripts
{
    <script language="javascript">

        function UpdateMessageInfo(partsval, charsetval, availableval) {
            $("#parts").text(partsval);
            $("#charaterset").text(charsetval);
            $("#available").text(availableval);
        }

        var resultsXHR, resultsTimer, resultsId = 0;
        $('#messagebody').keyup(function () {
            clearTimeout(resultsTimer);
            if (resultsXHR) resultsXHR.abort();
            resultsTimer = setTimeout(function () {
                var id = ++resultsId;
                resultsXHR = $.get("/api/messageinformation?message=" + $("#messagebody").val(), function (data) {
                    resultsXHR = null;
                    if (id != resultsId) return;
                    UpdateMessageInfo(data.Parts, data.CharacterSet, data.CharsLeft);
                });
            }, 500);
        });



    </script>

}
