@using SmsByPost.Models
@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div>
    <div class="row text-center">
        <div class="col-lg-1"><img src="@Url.Content("~/Content/Images/crown.png")" /></div>
    </div>
    <div class="row">
        <div class="col-lg-1"><h1 class="override-red text-center override-no-margin letter-spaced"><strong>SMS</strong></h1></div>
    </div>
    <div class="row">
        <div class="col-lg-1"><h2 class="override-red text-center override-no-margin letter-spaced"><strong>AS A</strong></h2></div>
    </div>
    <div class="row">
        <div class="col-lg-1"><h3 class="override-red text-center override-no-margin letter-spaced"><strong>SIMULATED</strong></h3></div>
    </div>
    <div class="row">
        <div class="col-lg-1"><h1 class="override-red text-center override-no-margin letter-spaced"><strong>POSTAL</strong></h1></div>
    </div>
    <div class="row">
        <div class="col-lg-1"><h2 class="override-red text-center override-no-margin letter-spaced"><strong>SERVICE</strong></h2></div>
    </div>
</div>
<div style="height:30px;"></div>

@using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { Id = "mainForm" }))
{
    <div class="panel panel-primary override-border">
        <div class="panel-heading override-background override-border"><h4>Send an SMS...</h4></div>
        <div class="panel-body">
            <input type="hidden" name="godGuid" value="@Guid.NewGuid()">

            <div class="form-group"><label class="col-sm-3 control-label">Phone Number</label><div class="col-sm-9"><input placeholder="i.e. 07450 029 043" class="form-control" name="address"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">From</label><div class="col-sm-9"><input placeholder="Your name"class="form-control" name="originator"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Message</label><div class="col-sm-9"><textarea placeholder="Type your message you wish to send here. The message cost will increase as you send more SMS parts" class="form-control" id="messagebody" name="message"></textarea></div></div>

            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-9">Remaining characters for this message part:</div>
                <div class="col-xs-1"><span id="available">-</span></div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-9">Total message parts:</div>
                <div class="col-xs-1"><span id="parts">-</span></div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-9">Content type:</div>
                <div class="col-xs-1"><span id="charaterset">-</span></div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary override-border">
        <div class="panel-heading override-background override-border"><h4>Delivery method</h4></div>
        <div class="panel-body">

            <div class="form-group">

                <div class="col-sm-9">
                    <div class="radio">
                        <label><input type="radio" name="deliveryType" value="FirstClass" checked>First Class (Estimated 1-3 Working days)</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="deliveryType" value="Special">Special Delivery (Gauranteed Next Day)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary override-border">
        <div class="panel-heading override-background override-border"><h4>Additional Protection</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-9">
                    <div class="radio">
                        <label><input type="radio" name="packagingType" value="@Packaging.Envelope" checked>Envelope</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="packagingType" value="@Packaging.PaddedEnvelope">Padded Envelope</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="packagingType" value="@Packaging.Parcel">Parcel</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="panel panel-primary override-border">
        <div class="panel-heading override-background override-border"><h4>...Sending a special message?</h4></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-9">
                    <div class="checkbox">
                        <label><input type="checkbox" id="wrappingrequired" name="wrappingRequired" value="true"><span class="glyphicon glyphicon-gift"> </span><strong> Add Gift Wrapping</strong><i> Deliver your message in style!</i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    
    <div class="footera">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-7"><h1 class="col-sm-6 control-label override-h1 letter-spaced">TOTAL COST</h1></div>
            <div class="col-xs-3"><h1 class="col-sm-6 control-label override-h1 letter-spaced">£<span id="price">0.00</span></h1></div>
            <div class="col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10"><button type="button" class="btn btn-primary btn-lg btn-block override-background override-border-white letter-spaced" name="commit" type="submit" id="submitFormBtn"><span class="glyphicon glyphicon-send"> </span> SEND</button></div>
            <div class="col-xs-1"></div>
        </div>
    </div>



}

<div style="height:70px;"></div>

@section scripts
{
    <script language="javascript">

        function UpdateMessageInfo(MessageInformation) {
            $("#parts").text(MessageInformation.Parts);
            $("#charaterset").text(MessageInformation.CharacterSet);
            $("#available").text(MessageInformation.CharsLeft);
        }

        function UpdatePriceOption(priceOption) {
            var roundedPrice = Math.round((priceOption.Price) * 100) / 100;
            $("#price").text(roundedPrice);
        }

        var resultsXHR, resultsTimer, resultsId = 0;

        $('#messagebody').keyup(function () {
            calculate();
        });

        $("input[name=packagingType]:radio").change(function () {
            calculate();
        });

        $("input[name=deliveryType]:radio").change(function () {
            calculate();
        });

        $('#wrappingrequired').change(function () {
            calculate();
        });

        $('#submitFormBtn').on('click', function(event) {
            event.preventDefault(); 
            $("#mainForm").submit();
        });


        function calculate() {

            if ($("#messagebody").val() == "")
                return;

            var wrappingoption = $("#wrappingrequired").is(':checked') ? "true" : "false";

            var url = "/api/messageinformation?message=" + $("#messagebody").val();
            url += "&isGiftWrapped=" + wrappingoption;
            url += "&protection=" + $('input[name=packagingType]:checked', '#mainForm').val();
            url += "&deliveryMethod=" + $('input[name=deliveryType]:checked', '#mainForm').val();

            clearTimeout(resultsTimer);
            if (resultsXHR) resultsXHR.abort();
            resultsTimer = setTimeout(function () {
                var id = ++resultsId;

                resultsXHR = $.get(url, function (data) {
                    resultsXHR = null;
                    if (id != resultsId)
                        return;
                    UpdateMessageInfo(data.MessageInformation);
                    UpdatePriceOption(data.PriceOption);
                });
            }, 500);
        }

    </script>
}
