@using SmsByPost.Controllers
@using SmsByPost.Models
@model TrackingModel
@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div>
    <div class="row text-center">
        <div class=""><img src="@Url.Content("~/Content/Images/crown.png")" /></div>
    </div>
    <div class="row">
        <div><h1 class="override-red text-center override-no-margin letter-spaced"><strong>DELIVERY</strong></h1></div>
    </div>
    <div class="row">
        <div><h2 class="override-red text-center override-no-margin letter-spaced"><strong>TRACKING</strong></h2></div>
    </div>
    <div class="row">
        <div><h3 class="override-red text-center override-no-margin letter-spaced">@Model.LetterId</h3></div>
    </div>
</div>
<div style="height:30px;"></div>

<div id="containaaaa">
    @foreach (TrackingStatus status in Model.TrackingStatuses.OrderByDescending(x => x.EventTime))
    {
        <div class="panel panel-primary override-border">
            <div class="panel-heading override-background override-border"><h4>@status.FriendlyTrackingName</h4></div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-6">@status.FriendlyTrackingDescription</div>
                    <div class="col-xs-4">@status.FriendlyEventTime</div>
                    <div class="col-xs-1"></div>
                </div>

            </div>
        </div>
    }

    <div class="clearfix"></div>

    <div class="footera">
        <div style="height:12px"></div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10"><button type="button" class="btn btn-primary btn-lg btn-block override-background override-border-white letter-spaced" name="commit" type="submit" id="submitFormBtn"> BACK</button></div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>



@section scripts
{
    
    <script id="template" type="text/x-jQuery-tmpl">
        <div class="panel panel-primary override-border">
            <div class="panel-heading override-background override-border"><h4>${FriendlyTrackingName}</h4></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-6">${FriendlyTrackingDescription}</div>
                    <div class="col-xs-4">${FriendlyEventTime}</div>
                    <div class="col-xs-1"></div>
                </div>
            </div>
        </div>
    </script>
    

    <script language="javascript">
        var pusher = new Pusher('09e07fa6d1e3db728a17');
        var channel = pusher.subscribe('@Model.LetterId');

        channel.bind('Arrived_At_Local_Sorting_House_Event', function (data) {
            $("#template").tmpl(data).prependTo("#containaaaa");
        });

        channel.bind('Arrived_At_National_Sorting_Hub_Event', function (data) {
            $("#template").tmpl(data).prependTo("#containaaaa");
        });

        channel.bind('On_Route_To_Delivery', function (data) {
            $("#template").tmpl(data).prependTo("#containaaaa");
        });

        channel.bind('Arrived_At_Destination_Sorting_Depot_Event', function (data) {
            $("#template").tmpl(data).prependTo("#containaaaa");
        });

        channel.bind('sms_dispatched_event_v2', function (data) {
            $("#template").tmpl(data).prependTo("#containaaaa");
        });

        $('#submitFormBtn').on('click', function(event) {
            window.location.replace('http://smsbypost.azurewebsites.net');
        });


    </script>
}
